@keyframes my-animation {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(-100%);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  background-color: rgba(182, 166, 127, 0.8352941176);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 97vw;
  margin: 0% auto;
}

body {
  width: 97vw;
  height: 95%;
  margin-right: 0%;
}

header {
  max-width: 100%;
  position: relative;
}

h1 {
  color: rgb(106, 134, 93);
  font-weight: bolder;
  font-size: 2.7rem;
  padding-top: 23px;
  margin-top: 5px;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  border: black 3px solid;
  border-radius: 20px;
  width: 200px;
  height: 230px;
  margin-left: 8px;
  background-color: rgba(150, 173, 124, 0.5490196078);
  position: absolute;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

main {
  margin: 0;
  width: 100%;
  height: 440px;
  border: none;
  font-size: 2rem;
  text-align: center;
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-row: 1fr;
  width: 97vw;
  background-size: 100%;
}

.windypic {
  background-size: cover;
  justify-self: auto;
  max-height: cover;
  margin: 0;
}

.haypic {
  background-position: left;
  justify-self: left;
  max-height: cover;
  max-width: cover;
  margin: 0;
  z-index: 101;
  display: flex;
  display: inline-block;
  background-size: contain;
  background-size: cover;
  border-bottom-right-radius: 100%;
}

.haypiccontainer {
  background-size: auto;
  background-size: auto;
}

.menu {
  justify-self: right;
  margin-right: 5px;
}
.menu:hover .submenu {
  display: block;
  text-align: center;
  visibility: visible;
  transition-duration: 1s;
}

.pantheonb {
  font-family: "Bebas Neue", cursive;
  color: black;
  padding: 7px;
  justify-self: auto;
  font-size: 3rem;
  border-radius: 20px;
  background-color: transparent;
}
.pantheonb:hover {
  cursor: pointer;
  background-color: #e4b04a;
  color: black;
  transition-delay: 1s;
}

.submenu {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 169px;
  border-style: none;
  visibility: collapse;
  border-radius: 50px;
  border-width: 1px;
}
.submenu a {
  color: #32657a;
  background-color: khaki;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 1.5rem;
  display: block;
  font-weight: bolder;
  opacity: 0.75;
  border-radius: 20px;
  border-style: solid;
  border-color: #6d5d3e;
  z-index: 1000;
}
.submenu a:hover {
  color: rgb(190, 81, 30);
  font-size: 2rem;
  font-weight: bolder;
  opacity: 1;
  background-color: rgba(228, 177, 74, 0.5058823529);
  transition-duration: 1s;
  z-index: 1;
}

p {
  font-family: "Bebas Neue", cursive;
  white-space: pre;
  font-size: 1.6rem;
  text-align: center auto;
  text-indent: 0%;
  white-space: pre;
  opacity: 0.2;
}
p:hover {
  transition: all 4s ease;
  opacity: 1;
  color: #234452;
}

.gridmission {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr, 1fr, 1fr, 1fr, 1fr, 1fr;
  justify-content: left;
  justify-self: left;
  margin-left: 50px;
}

.picsbioindex {
  border-radius: 25px;
  max-width: 230px;
  min-height: 230px;
  margin-bottom: 10px;
  border-style: solid;
  justify-self: left;
  float: left;
}

.picsbio {
  border-radius: 120px;
  max-width: 230px;
  min-height: 230px;
  margin-bottom: 10px;
  border-style: solid;
  justify-self: left;
  float: left;
}

.picaura {
  border-radius: 120px;
  max-width: 230px;
  min-height: 238px;
  margin-top: 10px;
  border-style: solid;
  justify-self: left;
  float: left;
}

.sectiont {
  font-family: "Bebas Neue", cursive;
  font-weight: bolder;
  color: #6d5d3e;
  font-size: xx-large;
  text-decoration: overline;
  text-align: right;
  margin-top: 20px;
}

.intearctivepic {
  width: 890px;
  height: 198px;
  margin-top: 15px;
  margin-left: 60px;
  border-radius: 20px;
  border-style: solid;
}

.youtube {
  width: 890px;
  height: 235px;
  margin-top: 5px;
  margin-left: 60px;
  border-radius: 20px;
  border-style: solid;
}

.tubemap {
  height: 150px;
  width: 150px;
  border-style: solid;
  border-radius: 50px;
  margin-left: 40px;
  margin-bottom: 35px;
}

footer {
  font-family: "Bebas Neue", cursive;
  font-size: large;
  background-color: rgba(220, 220, 220, 0.37);
  background-repeat: no-repeat;
  color: gray;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 60px;
  display: flex;
}

#scroll-container {
  margin-top: 0%;
  margin-left: 220px;
  margin-right: 7px;
  margin-bottom: 3px;
  border: 1px solid black;
  border-radius: 30px;
  border-radius: 5px;
  overflow: hidden;
  height: 50px;
}

#scroll-text {
  height: 100%;
  text-align: center;
  color: #122d38;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  transform: translateY(100%);
  animation: my-animation 15s linear infinite;
}

h3:hover {
  opacity: 0.8;
}

.worshipop {
  padding: 5px;
  display: flex;
  position: absolute;
  left: 0%;
}

.redes {
  padding: 5px;
  display: flex;
  right: 0%;
  position: absolute;
}

.iconitos {
  width: 50px;
  height: 50px;
  opacity: 0.4;
  background-color: #a83f17;
  padding: 7px;
  border-radius: 9px;
  margin-left: 5px;
}
.iconitos:hover {
  opacity: 0.8;
}

.iconitosr {
  width: 55px;
  height: 55px;
  opacity: 0.4;
  padding: 7px;
  border-radius: 20px;
  margin-left: 5px;
}
.iconitosr:hover {
  opacity: 0.8;
}

#gallery {
  max-width: 100%;
  line-height: 0;
  -webkit-column-count: 4;
  -webkit-column-gap: 1px;
  -moz-column-count: 4;
  -moz-column-gap: 5px;
  column-count: 4;
  column-gap: 5px;
}
#gallery img {
  width: 100% !important;
  height: auto !important;
  margin: bottom 5px;
  border-radius: 15px;
  border-style: solid;
  margin: 5px;
  border-color: rgba(138, 116, 91, 0.479);
  filter: grayscale(100%);
  z-index: 0.9;
}
#gallery img:hover {
  filter: none;
  transition: filter 1.5s;
}/*# sourceMappingURL=style.css.map */